<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/lumen/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap" rel="stylesheet">
    <title>Select item</title>
</head>
<body>
    
        <%- include('./navbar') -%>
   
    <div class="container py-4" style="margin-top: 10%;">
        <div class="card border-info mb-3 mx-auto" style="max-width: 20rem;">
            <div class="card-header text-center">
                <h2 style="font-family: 'Jost', sans-serif;">Welcome my blog!</h2>
            </div>
            <div class="card-body text-center">
                <a style="width: 200px; margin-bottom: 10px;" class="btn btn-success btn-lg" href="/register" role="button">REGISTRATION</a>
                <a style="width: 200px; margin-bottom: 10px;" class="btn btn-primary btn-lg" href="/login" role="button">ATHENTICATION</a>
            </div>
          </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
     integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
 integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
 integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>